<div class="p-4 bg-gray-100 rounded-lg hover:shadow-lg">
    
  <h1 class="font-bold text-4xl">Choose your fighter</h1>

    <h2 class="font-bold text-5xl text-green-400">Users</h2>
    <ul>
      <% @users.each do |user| %>
      <li>
        <%= link_to user.username, user %>
      </li>
      <% end %>
    </ul>

    <h2 class="font-bold text-5xl text-green-400">Exercises</h2>
    <p>
            <%= link_to "Exercises", exercises_path, class: "text-blue-500 underline hover:text-blue-700" %>
    </p>
</div>
