<div class="p-2 w-full">
  <h1 class="font-bold text-red-400 text-center  text-4xl">Spartan Fitness</h1>
  <div class="bg-gold-100 rounded-3xl ">
    <p></p>

    <ul class="flex space-x-4 mt-4 justify-between">
            <li>
              <%= link_to "Exercises", exercises_path, class: "text-spartan-red-500 hover:text-blue-700" %>
            </li>
            <li>
                <%= link_to "Users", users_path, class: "text-spartan-red-500 hover:text-blue-700" %>
            </li>
              <%= link_to "Workouts", workouts_path, class: "text-spartan-red-500 hover:text-blue-700" %>
            </li>
    </ul>


    <%= react_component("Button") %>
    <div id="react-button"></div>


  </div>
</div>

